body {
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 10px;
}

.home {
    margin: auto 70px;
}

.title {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

.not-found {
    display: flex;
    justify-content: center;
}